/* Coolors Exported Palette - coolors.co/322a29-81776a-8b5752-ac9470-efedeb */

/* HSL */
$color1: hsla(7%, 10%, 18%, 1);
$color2: hsla(34%, 10%, 46%, 1);
$color3: hsla(5%, 26%, 43%, 1);
$color4: hsla(36%, 27%, 56%, 1);
$color5: hsla(30%, 11%, 93%, 1);

/* RGB */
$color1: rgba(50, 42, 41, 1);
$color2: rgba(129, 119, 106, 1);
$color3: rgba(139, 87, 82, 1);
$color4: rgba(172, 148, 112, 1);
$color5: rgba(239, 237, 235, 1);